@page
@model AboutModel
@{
    ViewData["Title"] = "About This Demo";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>This is a demo site to display basic skills with .NET ASP Core Websites.</p>
</div>
<div class="text-center">
    <p>
        <figure>
            <figcaption>Major Skills Involved</figcaption>
            <div class="ul-list-align">
                <ul>
                    <li>HTML, CSS, Javascript</li>
                    <li>JSON</li>
                    <li>.NET ASP Core</li>
                    <li>.NET C#</li>
                    <li>REST Web Services</li>
                    <li>Razor, Blazor</li>
                </ul>
            </div>
        </figure>
        <figure>
            <figcaption>Minor Skills Involved</figcaption>
            <div class="ul-list-align">
                <ul>
                    <li>File IO</li>
                    <li>Data Object Serialization</li>
                </ul>
            </div>
        </figure>
    </p>
</div>
<div class="text-center">
    <p>The LinkedIn learning lesson this is from can be found <a href="https://www.linkedin.com/learning/introducing-asp-dot-net-core/">here.</a></p>
</div>