@page
@using PaldinoCrafts.Website.Components
@model IndexModel
@{
    ViewData["Title"] = "Demo Home page - Charles Paldino";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Paldino Crafts!</h1>
</div>

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))


