@page
@model AboutModel
@{
    ViewData["Title"] = "About This Demo";
}


<div class="text-center">
    <h3>@ViewData["Title"]</h3>    
</div>
<hr />
<div class="text-center">
    <p>This is a demo site to display basic skills with .NET ASP Core Websites.</p>
    <p>Changes made from Demo: Working Login (Basic Auth Security), Blazor, Responsive Design, Pictures for Movies, UI cleanup, SQL Injection security, and a Latest Movie Added feature.</p>
</div>
<div class="text-center">
    <p>
        <figure>
            <figcaption>Major Skills Involved</figcaption>
            <center>
                <div class="ul-list-align">
                    <ul>
                        <li>HTML, CSS, Javascript</li>
                        <li>.NET ASP Core</li>
                        <li>.NET C#</li>
                        <li>Web Services</li>
                        <li>Entities</li>
                        <li>SQL</li>
                        <li>Razor,Blazor</li>
                    </ul>
                </div>
            </center>
        </figure>
        <figure>
            <figcaption>Minor Skills Involved</figcaption>
            <center>
                <div class="ul-list-align">
                    <ul>
                        <li>Authentication, Authorization</li>
                        <li>File IO</li>
                        <li>Security (SQL Injection)</li>
                        <li>Dependency Injection</li>
                    </ul>
                </div>
            </center>
        </figure>
    </p>
</div>
<div class="text-center">
    <p>The LinkedIn learning lesson this is from can be found <a href="https://www.linkedin.com/learning/asp-dot-net-core-razor-pages-14933051/">here.</a></p>
</div>