@page
@model MoviesApp.Pages.AddMovieModel
@{
    ViewData["Title"] = "Add New Movie";
}
<center>
<h3>@ViewData["Title"]</h3>
</center>
<hr />
<div style="text-align:center">
    <a href="/Movies" class="btn btn-primary">Back To List</a>
</div>
<hr />
<div class="align-content-center">
    <div class="card card_details">
        <div class="card-header">
            Movie Details
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="movie_model.Title" type="text" class="form-control" id="title" maxlength="100" placeholder="Movie title" required>
                    <span asp-validation-for="@Model.movie_model.Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="rate" class="form-label">Rate</label>
                    <input name="movie_model.Rating" type="number" min="1" max="10" class="form-control addmovie_rating" id="rating" placeholder="0" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="movie_model.Description" class="form-control" id="description" maxlength="500" rows="3" required></textarea>
                    <span asp-validation-for="@Model.movie_model.Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="UploadedFile" class=" control-label">Poster Upload:</label>
                    <input name="UploadedFile" type="file" class="form-control " required />
                    <span asp-validation-for="UploadedFile" class="text-danger"></span>
                </div>
                <div style="text-align:center;">
                    <button type="submit" class="btn btn-primary">Add This Movie</button>
                </div>
            </form>

          @*   <form method="post" enctype="multipart/form-data">
               
                <input type="file" name="postedFiles" multiple />
                <input type="submit" value="Upload" asp-page-handler="Upload" />
                <br />
            </form> *@

        </div>
    </div>
</div>